.sector {
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 65px;
}

.sector:hover {
    /* background-color: #416718; */
    color: #416718;
    border-radius: 5%;
    opacity: 0.5;
    z-index: 300;
}

.sector h4 {
    color: #fff;
    z-index: 3000;
}
.card-box h4:hover {
    color: #fff;
    z-index: 3000;
}

.pt-100 {
    padding-top: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.carousel-caption {   
    bottom: 5.0rem !important;
}

.cid-t0VvFBaY4l {
    padding-top: 9rem;
    padding-bottom: 2rem;
    background-image: url('../images/header.png');
}

.mbr-overlay {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    pointer-events: none;
}